@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Tangerine:wght@700&display=swap');

:root {
    --main-color: #D9534F;
    --light-accent: #b1a09f;
    --dark-accent: #8f8278;
    --light-shade: #f4efed;
    --dark-shade: #372b33;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--light-shade);
    font-family: 'Inter', sans-serif;
}

/*Container width styles*/
nav, section {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}


/*Header Styles */

header {
   margin-bottom: 35px;
   padding: 30px 25px 15px 25px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 3em;
}

header ul a {
    text-decoration: none;
    color: var(--dark-shade);
    font-size: 18px;
    gap: .5em;
    display: flex;
    align-items: center;
}

header ul a:hover:not(#logo) {
    color: var(--main-color);
    transition: color 250ms ease-in-out;
}

/* img style
header #logo {
    width: auto;
    height: 75px;
    margin-right: 1em;
}*/

header #logo {
    font-family: 'Tangerine', cursive;
    font-size: 3.4em;
    padding-left: 15px;
    margin-right: 40px;
}



/*Main Content Styles */
.featured-recipe {
    background-color: var(--dark-shade);
    color: var(--light-shade);
    padding: 0;
    height: 500px;
    border-radius: 10px;
    display: flex;
    border: 1px solid var(--dark-shade);
}

.featured-recipe img {
    height: 100%;
    width: auto;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
}

.featured-recipe .recipe-img { /*this is so the recipe does not overflow boundaries even if a random image is used*/
    background-image: url("../img/recipe/key_lime_pie.jpg"); /*for some reason directory needs ../ to work on wamp64 */
    height: 100%;
    width: 150%;
    background-position: center center;
    background-size: cover;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
    margin: 0;
    padding: 0;
    border: 0;
}

.featured-recipe .text {
    margin: 120px 50px;
}

.featured-recipe .text h1 {
    font-size: 36px;
    margin-bottom: 15px;
    line-height: 1.15em;
}

.featured-recipe .text p {
    font-size: 18px;
    line-height: 1.75em;
}

footer {
    margin-top: 50px;
    text-align: center;
}
