@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Tangerine:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --main-color: #BA3F53;
    --main-dark: #372b33;
    --light-shade: #F3F7F5;
    --darker-light-shade: #F4F7F5;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--darker-light-shade);
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}

main {
    min-height: 100vh;
}

/*Container width styles*/
nav, section {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}


/*Header Styles */

header {
    margin-bottom: 3em;
    padding: 20px 15px;
    background-color: var(--light-shade);
    box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 3em;
}

header ul a {
    text-decoration: none;
    color: var(--main-dark);
    font-size: 18px;
    gap: .5em;
    display: flex;
    align-items: center;
}

header ul a.active {
    border-bottom: 1px solid #000;
    padding-bottom: 3px;
    position: relative;
    top: 3px;
}

header ul a:hover:not(#logo) {
    color: var(--main-color);
    transition: color 250ms ease-in-out;
    animation: shake 250ms;
    transform: scale(1.03) rotate(0.25deg);
}

header #logo {
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    padding-left: 15px;
    margin-right: 40px;
}

header #logo img {
    height: 1em;
    width: auto;
    margin-right: -10px;
}

/*Main Content Styles */

/*Feature Recipe */

.featured-recipe {
    background-color: var(--main-color);
    color: var(--light-shade);
    margin-bottom: 5em;
    padding: 0;
    height: 500px;
    border-radius: 7px;
    display: flex;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.26), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}


.featured-recipe .recipe-img { /*this is so the recipe does not overflow boundaries even if a random image is used*/
    background-image: url("../img/recipe/key_lime_pie.jpg"); /*for some reason directory needs ../ to work on wamp64 */
    height: 100%;
    width: 150%;
    background-position: center center;
    background-size: cover;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    margin: 0;
    padding: 0;
    border: 0;
}

.featured-recipe .recipe-text {
    margin-top: 20px;
    padding: 120px 50px;
}

.featured-recipe .recipe-text h2 {
    font-size: 36px;
    line-height: 1.15em;
    margin-bottom: .25em;
}

.featured-recipe .recipe-text p {
    font-size: 18px;
    line-height: 1.75em;
    margin-bottom: 2.5em;
}

.featured-recipe .recipe-text button {
    border: none;
    border-radius: 30px;
    position: relative;
    padding: 12px 30px;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0;
    background-color: #fff;
}

.featured-recipe .recipe-text button:hover {
    cursor: pointer;
    background-color: #eee;
    transform: scale(1.05);
    color: var(--main-color);
    transition: all 250ms ease-in-out;
    animation: shake 250ms;
    transform: scale(1.03) rotate(0.25deg);
}


/*Recipes Grid */

.recipes > h1 {
    text-align: center;
    font-weight: 300;
    font-size: 2em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    border-bottom: 1px solid #000;
    line-height: .1em;
}

.recipes > h1 span, .add-recipes > h1 span {
    background-color: var(--darker-light-shade);
    padding: 0 15px;
}

.recipes .recipe-list {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
    gap: 3%;
}

.recipes .recipe-list .recipe {
    width: 100%;
    height: 350px;
    margin-bottom: 10px;
}

.recipes .recipe-list .recipe a {
    text-decoration: none;
}

.recipes .recipe-list .recipe .recipe-img {
    /*background-image: url("../img/recipe/key_lime_pie.jpg"); /*for some reason directory needs ../ to work on wamp64 */
    height: 60%;
    width: 100%;
    background-position: center center;
    background-size: cover;
    border-radius: 3px;
    margin: 0;
    padding: 0;
    border: 0;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.26), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.recipes .recipe-list .recipe:hover {
    animation: shake 250ms;
    transform: scale(1.03) rotate(0.25deg);
}

@keyframes shake {
    0% { transform: scale(1.0) rotate(0deg);}
    33% { transform: scale(1.01) rotate(0.25deg);}
    66% { transform: scale(1.02) rotate(-0.25deg);}
    100% { transform: scale(1.03) rotate(0.25deg);}
}

.recipes .recipe-list .recipe-text {
    padding: 2em .3em;
}

.recipes .recipe-list .recipe-text h2 {
    margin-bottom: .5em;
    color: var(--main-color);
    font-weight: 400;
    font-size: 16px;
}

.recipes .recipe-list .recipe-text p {
    font-size: 16px;
    color: black;
}

footer {
    margin-top: 10em;
    text-align: center;
}

footer p {
    padding: 30px 0;
    background-color: var(--main-dark);
    color: white;
    box-shadow: 0 6px 10px 5px rgba(0,0,0,0.5);
}

/* add_recipe.html */

.add-recipes h1 {
    margin-bottom: 5px;
}

.add-recipes span.required-star {
    color: var(--main-color);
    font-weight: bold;
}

.add-recipes form {
    margin: 0;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.add-recipes form label:not(input[type=file]) {
    display: block;
    margin-bottom: 5px;
}

.add-recipes input[type=text], .add-recipes input[type=file], .add-recipes textarea {
    box-sizing: border-box;
    width: 250px;
    padding: 8px;
    margin-top: 4px;
    border: 1px solid #aaa;
    border-radius: 4px;
    background-color: #fff;
 }

 .add-recipes textarea {
    width: 500px;
 }

.add-recipes input[type=submit] {
    width: 250px;
    color: white;
    background-color: var(--main-color);
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
 }
 
.add-recipes input[type=submit]:hover {
    background-color: #822a39;
 }



/* creamy_key_lime_pie.html */

.view-recipe h2 + ul li{
    color: black;
    margin-left: 50px;
    font-size: 16px;
    font-style: italic;
}

.view-recipe img{
    width: 400px;
    height: 300px;
    float: right;
    margin-right: -80px;
}